.placeholder {
    width: 90dvw;
    height: 90dvh;
    background-image: url('/image.png') !important;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 1.5em;
}